body, body * {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
}

body {
    background-color: #ebf5eb;
}

/*
****************
  top navbar
****************
*/

.logo{
    background-image: url('images/logo.png');
    background-position: center;
    background-size: cover;
    width: 55px;
    height: 48px;
}

.web-logo-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.web-name{
    color: #e33a5d;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.country{
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 1000px;
    margin-right: 13px;
    cursor: pointer;
}
#england{
    background-image: url('images/en-flag.png');
}

#pak{
    background-image: url('images/ur-flag.png');
}

#chinese{
    background-image: url('images/zh-flag.png');
}

.country-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.big{
    font-size:30px;
    color: #e33a5d;
}

/*
****************
  main navbar
****************
*/

div#navbarNav.collapse.navbar-collapse{
    justify-content: flex-end;
}


/*
****************
  main contain
****************
*/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 58% 41%;
    grid-gap: 12px;
    width: 100%;
    height: 100vh;
}

.left-div{
    width: 100%;
}

.right-div{
    width: 100%;
}

.flower-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 83px;
}

.techkro-heading{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-end;
}

.techkro-heading p, .learn-more {
    background-color: #2da745;
    color: #ffffff;
    margin-bottom: 0;
    height: 36px;
    padding: 9px;
}

.learn-more{
    width: 238px;
    font-size: 14px;
    
}

.sale-contain{
     background-color: #ffffff;
     width: 100%;
}

.sale-contain h4{
    font-size: 17px;
    margin: 16px;
    font-weight: bold;
     color: #4b4c4e;
}

.sale-contain p{
    margin: 16px;
    color: #4b4c4e;
}

.main-img{
    
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
   
}

.date-time{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: #f9f9f9;
}

.date-div, .tech-community{
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-date, span, .by{
    font-size: 14px;
    margin: 0;
    font-weight: 500;
}

.fas{
    font-size: 19px;
    margin: 0px 11px;
    color: #2da745;
}

.community{
    color: #2da745;
}

.flower-detail{
    width: 100%;
    background-color: #ffffff;
    padding: 16px;
}

.flower-detail h4{
    font-weight: bold;
     color: #4b4c4e;
}

.flower-detail p{
     color: #4b4c4e;
}

.sale-contain, .flower-detail, .date-time, .main-img{
    border: 1px solid #dddedd
}

@media screen and (max-width : 991px){
    .full-date, span, .by{
        font-size: 12px;
    }
    .fas{
        font-size: 16px;
    }
}

@media screen and (max-width : 768px){
    .grid-container{
        grid-template-columns : auto;
    }
}

@media screen and (max-width : 461px){
    .date-time{
        height: 52px;
    }
    .full-date, span, .by{
        font-size: 13px;
    }
    .fas{
        font-size: 17px;
    }

}






/* Write all your CSS here! */